# Project exclude paths
/out/
/src/lab7/example5/output.txt
/src/lab7/example6/output.txt
/src/lab7/example8/output.txt
/src/lab7/example9/person.json
/src/lab7/task4/final.txt
/src/lab7/task8/fileOut.json
/src/lab8/example1/example.xml
/src/lab8/example1/tasks.xml
/src/lab8/example2/example-json.json
/src/lab8/example2/task2.json
/src/lab8/example1/example2.xml
/src/lab8/example2/example2.json
/src/lab8/example2/example3.json
/src/lab8/example2/example4.json
/src/lab8/example3/links.txt
/src/lab8/example3/links2.txt
